openapi: 3.2.0
info:
  description: Public API Service
  version: 2.0.0
  title: public-api-service Info API
  termsOfService: https://www.apptentive.com/terms/
servers:
- url: https://data.apptentive.com/
- url: http://data.apptentive.com/
tags:
- name: Info
  description: info endpoints
paths:
  /info:
    get:
      tags:
      - Info
      summary: Show accessible endpoints
      description: show access data endpoints
      operationId: showDataEndpoints
      security:
      - ApiKeyAuth: []
      parameters:
      - name: api_key
        in: query
        description: (optional) you can provide the X-API-KEY as 'api_key' query parameter
        required: false
        schema:
          type: string
      - name: accept
        in: query
        description: (optional) you can provide the accept header as 'accept' query parameter
        required: false
        schema:
          type: string
      responses:
        '200':
          description: access information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InfoResponse'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestResponse'
        '401':
          description: not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorizedResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorizedResponse'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInternalErrorResponse'
components:
  schemas:
    ErrorUnauthorizedResponse:
      type: object
      properties:
        error:
          type: string
          description: the root cause in text representation
          example: not authorized
    ErrorInternalErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: the root cause in text representation
          example: unable to get the data - please contact the support team
    AccessInfo:
      type: object
      properties:
        raw_endpoints:
          type: array
          items:
            type: string
            example: data.apptentive.com/...
        metrics_endpoints:
          type: array
          items:
            type: string
            example: data.apptentive.com/...
    InfoResponse:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/AccessInfo'
        cache:
          $ref: '#/components/schemas/CacheInfo'
    ErrorBadRequestResponse:
      type: object
      properties:
        error:
          type: string
          description: the root cause in text representation
          example: some params are missing
    CacheInfo:
      type: object
      properties:
        rate:
          type: string
          description: how many requests is elligble per 5 minutes
          example: 100
        limit:
          type: string
          description: how many requests are remaining before reset
          example: 99
        reset:
          type: string
          description: date when the limit will be reset
          example: 2022-09-16 02:20 UTC
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-KEY
      in: header
